<div class="footerWrapper">
    <div class="footerLinks container">
        <div class="footerLinks__socials">
            <img src="/images/socials/facebook.svg" alt="">
            <img src="/images/socials/instagram.svg" alt="">
            <img src="/images/socials/pinterest.svg" alt="">
            <img src="/images/socials/tiktok.svg" alt="">
            <img src="/images/socials/twitter.svg" alt="">
            <img src="/images/socials/whatsapp.svg" alt="">
            <img src="/images/socials/youtube.svg" alt="">
        </div>
        <div class="footerLinks__Copyrights text-white text-center">© Start, 2022. All rights reserved.</div>
    </div>
</div>