<div class="navbar container">
    <div class="navbar__logo">
        <img src="/images/Logo/LogoWhite.svg" alt="" class="navbar__logo--image">
        <div class="navbar__logo--text">Start</div>
    </div>
    <div class="navbar__menu hidden">
        <a href="/" class="navbar__menu--1">Home</a>
        <a href="/portfolio" class="navbar__menu--2">Portfolio</a>
        <a href="/services" class="navbar__menu--3">Services</a>
        <a href="/contact" class="navbar__menu--4">Contact</a>
    </div>
    <div class="navbar__icons">
        <i class="bi bi-list"></i>
        <i class="bi bi-x-lg hide"></i>
    </div>
</div>