<!DOCTYPE html>

<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <div class="hero">
        <%- include('./partials/nav.ejs') %>
    </div>
    <p>404 Page Not Found</p>
    <%- include('./partials/footer.ejs') %>
</body>
<script src="/jsfiles/main.js"></script>
</html>